node-red-flow.json
[{"type":"tab","id":"b23a59f1.4dc5a8","label":"NodeMCU MQTT Led"},{"id":"d58dd6af.2a7228","type":"mqtt-broker","z":"b23a59f1.4dc5a8","broker":"m20.cloudmqtt.com","port":"19767","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"b343a95b.4cbc58","type":"mqtt out","z":"b23a59f1.4dc5a8","name":"","topic":"","qos":"","retain":"","broker":"d58dd6af.2a7228","x":457,"y":142,"wires":[]},{"id":"7680f838.897f08","type":"inject","z":"b23a59f1.4dc5a8","name":"","topic":"node/led","payload":"on","payloadType":"string","repeat":"","crontab":"","once":false,"x":257,"y":72,"wires":[["b343a95b.4cbc58"]]},{"id":"25c0c812.da3f38","type":"inject","z":"b23a59f1.4dc5a8","name":"","topic":"node/led","payload":"off","payloadType":"string","repeat":"","crontab":"","once":false,"x":256,"y":123,"wires":[["b343a95b.4cbc58"]]},{"id":"6f8e3e1b.9071c","type":"inject","z":"b23a59f1.4dc5a8","name":"","topic":"node/led","payload":"toggle","payloadType":"string","repeat":"","crontab":"","once":false,"x":254,"y":24,"wires":[["b343a95b.4cbc58"]]},{"id":"febe12ca.0141f","type":"debug","z":"b23a59f1.4dc5a8","name":"output","active":true,"console":"true","complete":"payload","x":569,"y":534,"wires":[]},{"id":"885477e3.77ab88","type":"mqtt in","z":"b23a59f1.4dc5a8","name":"","topic":"node/lwt","broker":"d58dd6af.2a7228","x":383,"y":535,"wires":[["febe12ca.0141f"]]},{"id":"c2d72374.3d28e","type":"inject","z":"b23a59f1.4dc5a8","name":"","topic":"node/rgb","payload":"on","payloadType":"string","repeat":"","crontab":"","once":false,"x":259,"y":253,"wires":[["b343a95b.4cbc58"]]},{"id":"bc344cb8.43cbb","type":"inject","z":"b23a59f1.4dc5a8","name":"","topic":"node/rgb","payload":"off","payloadType":"string","repeat":"","crontab":"","once":false,"x":262,"y":294,"wires":[["b343a95b.4cbc58"]]},{"id":"4bf20b78.b40df4","type":"inject","z":"b23a59f1.4dc5a8","name":"","topic":"node/rgb","payload":"cycle","payloadType":"string","repeat":"","crontab":"","once":false,"x":256,"y":335,"wires":[["b343a95b.4cbc58"]]},{"id":"1c35f7f.fe3ca08","type":"inject","z":"b23a59f1.4dc5a8","name":"","topic":"node/rgb","payload":"stop","payloadType":"string","repeat":"","crontab":"","once":false,"x":257,"y":375,"wires":[["b343a95b.4cbc58"]]}]